[Desktop Entry]
Icon=text-html
Name=https://learn.sparkfun.com/tutorials/tiny-avr-programmer-hookup-guide/all
Type=Link
URL[$e]=https://learn.sparkfun.com/tutorials/tiny-avr-programmer-hookup-guide/all
