[Desktop Entry]
Icon=text-html
Name=https://hackmakemod.com/blogs/projects/space-drop-handheld-game-solder-kit
Type=Link
URL[$e]=https://hackmakemod.com/blogs/projects/space-drop-handheld-game-solder-kit
