[Desktop Entry]
Icon=text-html
Name=https://www.instructables.com/Testing-Water-Level-Sensor-Arduino-UNO-Water-Level/
Type=Link
URL[$e]=https://www.instructables.com/Testing-Water-Level-Sensor-Arduino-UNO-Water-Level/
